/*
* MEDIA QUERIES
*/

/* Only apply styles on devices with hover capability.*/
@media (hover: hover) {

}


@media (max-width: 575.98px) {
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {

  .popup {
    display: block;
    .popup-left {
      margin-right: none !important;
      img {
        margin-bottom: 10px;
      }
    }
  }

  .teachers-list li {
    width: 46%;
    margin: 10px;

    h3 {
      font-size: 18px;
    }

  }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
}
