/* --------------------------------------------------------
Style Sheet for Omflow Classes Component

version: 0.9
last modified: 20.09.2020 by Christof Bauer
author: Christof Bauer
email: bauer.christof@gmail.com
----------------------------------------------------------*/

.practice-container {
  margin-bottom: 40px;
}
