/* --------------------------------------------------------
Style Sheet for Omflow Dashboard Component

version: 0.9
last modified: 20.09.2020 by Christof Bauer
author: Christof Bauer
email: bauer.christof@gmail.com
----------------------------------------------------------*/

.table-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.server-msg {
  color: green;
  font-size: 14px;
  margin: 0px 0px 10px;
  display: none;
  position: relative;
}
.server-msg-error {
  color: red;
}

.admin-teachers-list {
  img {
    width: 100px;
  }
}

.admin-practices-list {
  margin-bottom: 40px;
}

.teacher-space {
  width: 50%;
  margin: 0 auto;

  h2 {
    font-size: 24px;
  }

  p {
    margin-bottom: 40px;
  }

  img {
    margin-bottom: 40px;
  }

  form {
    label {
      margin-bottom: 0;
    }
  }
}

.create-class {
  width: 50%;
  margin: 0 auto;
}

.practicelist-description {
  max-width: 300px;
}

.image-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;

  #file {
    display: none;
  }

  #imageContainer {
    height: 300px;
    width: 300px;
    border: 3px dashed darkgrey;
    color: darkgrey;
    background-color: #fafafa;
    font-size: 30px;
    text-align: center;
    vertical-align: middle;
    padding-top: 100px;
    cursor: pointer;
    border-radius: 50%;
    margin-bottom: 25px;
    position: relative;
    overflow: hidden;
  }

  #imageTag {
    position: absolute;
    top: -10px;
    left: 50%;
    width: 110%;
    transform: translateX(-50%);
  }

  #errorMessage, #successMessage {
    font-size: 18px;
    margin-bottom: 25px;
  }

  #errorMessage {
    color: red;
  }

  #successMessage {
    color: green;
  }

  .hide {
    display: none;
  }

  #imageContainer.dragging {
    border-color: green;
    border-width: 10px;
    opacity: .3;
  }
}
