/* --------------------------------------------------------
Style Sheet for Omflow Dashboard Component

version: 0.9
last modified: 20.09.2020 by Christof Bauer
author: Christof Bauer
email: bauer.christof@gmail.com
----------------------------------------------------------*/

.table-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.server-msg {
  color: green;
  font-size: 14px;
  margin: 0px 0px 10px;
  display: none;
  position: relative;
}
.server-msg-error {
  color: red;
}

.admin-teachers-list {
  img {
    width: 100px;
  }
}

.admin-practices-list {
  margin-bottom: 40px;
}

.teacher-space {
  width: 50%;
  margin: 0 auto;

  h2 {
    font-size: 24px;
  }

  p {
    margin-bottom: 40px;
  }

  img {
    margin-bottom: 40px;
  }

  form {
    label {
      margin-bottom: 0;
    }
  }
}

.create-class {
  width: 50%;
  margin: 0 auto;
}

.practicelist-description {
  max-width: 300px;
}
