/* --------------------------------------------------------
Style Sheet for Omflow World Map

version: 0.9
last modified: 20.09.2020 by Christof Bauer
author: Christof Bauer
email: bauer.christof@gmail.com
----------------------------------------------------------*/

@import 'defaults';

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

.mapboxgl-popup {
  overflow: hidden;
  max-width: 100% !important;
}

.mapboxgl-popup-content a {
  text-decoration: none;
  color: $brand;
}

.mapboxgl-popup-close-button {
  font-size: 30px;
}

.popup {
  display: flex;
  padding: 10px 20px;

  .popup-left {
    margin-right: 20px;

    img {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: left center;
      width: 300px;
      box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }
  }

  .popup-right {

    h1 {
      font-size: 24px;
    }

    p {
      max-width: 300px;
    }
  }
}

#overlay {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  text-align: center;
}

.overlay-button {

  width: 250px;
  height: 60px;
  margin-right: 20px;
  background: rgba(60,150,185,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  text-align: center;
  color: white;

  &:hover {
    background: rgba(35, 122, 154, 0.8);
    cursor: pointer;
  }

  a {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
  }
}

.back-home {
  background: transparent url('/img/icons/logo-white.png') no-repeat center;
  width: 70px;
  height: 71px;
  position: absolute;
  left: 20px;
  top: 20px;
  opacity: 0.85;
  z-index: 1000;
  text-indent: -9999em;
}

.back-home:hover {
  cursor: pointer;
  opacity: 1;
}

/* --------------------------------------------------------
Vimeo Embed
----------------------------------------------------------*/

.embed-container {
  // position: relative;
  // padding-bottom: 56.25%;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  // position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@import 'media_queries';
