/* --------------------------------------------------------
Style Sheet for Omflow Schedule Component

version: 0.9
last modified: 20.09.2020 by Christof Bauer
author: Christof Bauer
email: bauer.christof@gmail.com
----------------------------------------------------------*/

.schedule-event {
  display: flex;
  height: auto;
  flex-wrap: wrap;
}
