/* --------------------------------------------------------
Style Sheet for Omflow Teachers Component

version: 0.9
last modified: 20.09.2020 by Christof Bauer
author: Christof Bauer
email: bauer.christof@gmail.com
----------------------------------------------------------*/

@import 'defaults';


.teachers-list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  > li {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    padding: 15px 20px;
    width: 30%;
    overflow: hidden;
    margin-bottom: 30px;

    .teacher-name {
      font-size: 26px;
      margin-bottom: 10px;
      color: $brand;
      display: block;
    }

    > a {
      color: $text;
    }

    > img {
      width: 100%;
      margin-bottom: 10px;
    }
  }
}

.teacher-container {

  p {
    margin-bottom: 20px;
  }

  span {
    display: block;
    margin: 20px 0;
  }

  img {
    max-width: 100%;
  }
}

