/* --------------------------------------------------------
Style Sheet for Omflow Teachers Component

version: 0.9
last modified: 20.09.2020 by Christof Bauer
author: Christof Bauer
email: bauer.christof@gmail.com
----------------------------------------------------------*/

@import 'defaults';


.teachers-list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  > li {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    padding: 15px 20px;
    width: 30%;
    overflow: hidden;
    margin-bottom: 30px;
    position: relative;

    .teacher-link {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
    }

    .teacher-name {
      font-size: 26px;
      color: $brand;
      display: block;
      margin-bottom: 0;
    }

    > a {
      color: $text;
    }

    > img {
      width: 100%;
      margin-bottom: 10px;
    }
  }
}

.teacher-container {
  margin-bottom: 40px;
  p {
    margin-bottom: 20px;
  }

  h2 {
    margin-bottom: 30px;
  }

  h3 {
    font-size: 20px;
    margin-bottom: 5px;
  }

  small {
    margin-bottom: 20px;
    display: block;
  }

  ul {
    margin-bottom: 20px;
  }

  .teacher-media {
    display: flex;
    align-items: flex-start;
    padding: 20px 0px;

    > img, iframe {
      box-shadow: 2px 2px 20px -4px rgba(0,0,0,0.8);
      margin-right: 20px;
      padding: 15px;
    }
    > img {
      height: 300px;
    }
    iframe {
      padding: 15px 0px;
    }
  }

  .teacher-social {

    display: flex;
    align-items: center;

    .fa-instagram {
      font-size: 40px;
      color: $brand;
      margin-right: 5px;
    }
  }


  .back {
    display: inline-block;
    margin-top: 40px;
  }

}
