/* --------------------------------------------------------
Style Sheet for Omflow Teachers Component

version: 0.9
last modified: 20.09.2020 by Christof Bauer
author: Christof Bauer
email: bauer.christof@gmail.com
----------------------------------------------------------*/

@import 'defaults';


//  /teachers
.teachers-list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  > li {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    padding: 15px 20px;
    width: 30%;
    overflow: hidden;
    margin-bottom: 30px;
    position: relative;

    .teacher-link {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
    }

    .teacher-name {
      font-size: 26px;
      color: $brand;
      display: block;
      margin-bottom: 0;
    }

    > a {
      color: $text;
    }

    > img {
      width: 100%;
      margin-bottom: 10px;
    }
  }
}


//  /teacher/:id
.teacher-container {

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
  padding: 0 40px;

  p {
    margin-bottom: 20px;
    width: fit-content;
    max-width: 50%;
  }

  h2 {
    margin-bottom: 30px;
  }

  h3 {
    font-size: 20px;
    margin-bottom: 5px;
  }

  ul {
    margin-bottom: 20px;
  }

  .teacher-media {
    display: flex;
    align-items: flex-start;
    padding: 20px 0px;
    position: relative;
    margin-bottom: 40px;

    > img, iframe {
      box-shadow: 2px 2px 20px -4px rgba(0,0,0,0.8);
      margin-right: 20px;
      padding: 15px;
    }
    > img {
      height: 300px;
    }
    iframe {
      padding: 15px 0px;
    }

    span {
      position: absolute;
      bottom: 70px;
      right: 55px;
      width: 260px;
    }
  }

  .teacher-quote {
    width: fit-content;
    margin-top: -40px;
    margin-left: -20px;
    margin-bottom: 20px;

    .quote-mark {
      font-weight: 700;
      font-size: 80px;
      color: #fff;
      font-family: Times New Roman,Georgia,Serif;
      text-shadow: 1px 1px 2px #666;
      margin-right: -25px;
    }

    .quote-text {
      padding: 10px 20px;
      letter-spacing: 1px;
      background: rgba(0,0,0,.4);
      font-size: 20px;
      color: #fff;
      border-radius: 3px;
      text-shadow: 0 0 5px rgba(0,0,0,.8);
    }
  }

  .teacher-social {

    display: flex;
    align-items: center;

    .fa-instagram {
      font-size: 40px;
      color: $brand;
      margin-right: 5px;
    }
  }

  .back {
    display: inline-block;
    margin-top: 40px;
  }

}
